{% extends "obslog/base.html" %}
{% block content %}
<ul>
	<li> <a href="{% url 'admin:obslog_obslog_add' %}">Enter a new log</a> </li>
	<li> <a href="{% url 'admin:obslog_obslog_changelist' %}">Edit an existing log</a> </li>
	<li> <a href="{% url 'obslog:night' %}">Browse night logs</a> </li>
</ul>

<h1>Recent night logs</h1>

{% for log in object_list|slice:":10" %}
<article class="obslog">
<header>
<h1>{{ log.date }}</h1>
</header>
<section class="observers">
<h2>Observers</h2>
<ul>{% for observer in log.observers.all %}
<li>{{ observer }}</li>
{% endfor %}</ul>
</section>
<section class="comments">
<h2>Observer log</h2>
<div>{{ log.formatted_comments|slice:":50" }}&hellip;</div>
</section>
<p><a href="{% url 'obslog:detail' log.pk %}">Details</a></p>
</article>
{% endfor %}

{% endblock content %}
