{% extends "obslog/base.html" %}
{% load static %}

{% block content %}
<article class="obslog">
<header>
<p><a href="{% url 'admin:obslog_obslog_change' object.pk %}">Edit log</a></p>
<h1>{{ object.date }}</h1>
</header>
<section class="observers">
<h2>Observers</h2>
<ul>{% for observer in object.observers.all %}
<li>{{ observer }}</li>
{% endfor %}</ul>
</section>
<section class="comments">
<h2>Observer log</h2>
<div>{{ object.formatted_comments }}</div>
</section>
<section>
<h2>Observations</h2>
<pre>
{{ object.observations }}
</pre>
</section>
</article>

{% endblock content %}
