{% extends "obslog/base.html" %}
{% block content %}
<h1>Night logs</h1>

{% if years %}
<div>Years: {% for year in years %}<a href="{% url 'obslog:night-year' year %}">{{ year }}</a> {% endfor %}</div>
{% endif %}
{% if months %}
<div>months: {% for nr, name in months.items %}<a href="{% url 'obslog:night-month' current_year nr %}">{{ name }}</a> {% endfor %}</div>
{% endif %}
<h2>{{ current_year }}{% if current_month %}, {{ current_month }}{% endif %}</h2>

{% for log in object_list %}
<article class="obslog">
<header>
<h1>{{ log.date }}</h1>
</header>
<section class="observers">
<h2>Observers</h2>
<ul>{% for observer in log.observers.all %}
<li>{{ observer }}</li>
{% endfor %}</ul>
</section>
<section class="comments">
<h2>Observer log</h2>
<div>{{ log.formatted_comments|slice:":50" }}&hellip;</div>
</section>
<p><a href="{% url 'obslog:detail' log.pk %}">Details</a></p>
</article>
{% endfor %}

{% endblock content %}
