<div class="markdownx">
    <div style="float: left; margin-right: 2em;">
<h3>Markdown</h3>
		{% include 'django/forms/widgets/textarea.html' %}
        {# {{ markdownx_editor }} #}
    </div>
    <div style="float: left;">
<h3>Preview</h3>
        <div class="markdownx-preview" style="border: thin solid LightGrey; padding: .5em; border-radius: 5px;"></div>
    </div>
</div>
