article.obslog {
	border-top: thin solid black;
}

article.obslog h1 {
	font-weight: normal;
	font-variant: small-caps;
	font-size: 120%;
}

article.obslog header h1 {
	float: right;
}

article.obslog h2 {
	font-weight: normal;
	font-variant: small-caps;
	font-size: 110%;
	margin-left: 1em;
}

article.obslog h3 {
	font-weight: normal;
	font-variant: small-caps;
	font-size: 100%;
}

article.obslog .observers ul {
	margin-left: 1em;
	list-style: none inside none;
}

article.obslog section.comments {
	margin-left: 2em;
}

article.obslog section.comments h2:first-child {
	margin-left: -1em;
}

article.obslog section.comments h1 {
	font-size: 110%;
	margin: 0;
}

article.obslog section.comments h2 {
	font-size: 105%;
	margin: 0;
}

article.obslog section.comments h3 {
	font-size: 100%;
	margin: 0;
}

